{{ form_start(form) }}
{{ form_widget(form.cgroup_id, { 'attr' : { 'class' : 'select2 ', 'style' : 'width: 25em;' } } ) }}
{{ form_widget(form.submit, { 'attr' : { 'class' : 'sc-button bt-create' } }) }}
{{ form_end(form ) }}