{% extends 'ChillGroupBundle:Admin:layout_group.html.twig' %}

{#
 * Copyright (C) 2016, Champs Libres Cooperative SCRLFS, <http://www.champs-libres.coop>
 *
 * This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}


{% block title 'Create a new group role'|trans %}
 
{% block admin_content -%}
    <h1>{{ 'Create a new group role'|trans }}</h1>

    {% if entity.type is defined %}
        <p>{{ "The role will be associated with type '%type%'"|trans( { '%type%' : entity.type.name|localize_translatable_string } ) }}</p>
    {% endif %}
    
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.active) }}

    <div style="clear:both;">
    <ul class="record_actions">
        <li>
            <a href="{% if entity.type is defined %}{{ path('admin_group_type_show', { 'id' : entity.type.id } ) }}{% else %}{{ path('admin_group_role') }}{% endif %}" class="sc-button bt-cancel">
                {{ 'Back to the list'|trans }}
            </a>
        </li>
        <li>
            {{ form_widget(form.submit, { 'attr' : { 'class' : 'sc-button bt-create' } } ) }}
        </li>

    </ul>
    </div>   
    {{ form_end(form) }}
{% endblock %}
