{% extends 'ChillGroupBundle:Admin:layout_group.html.twig' %}

{#
 * Copyright (C) 2016, Champs Libres Cooperative SCRLFS, <http://www.champs-libres.coop>
 *
 * This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}


{% block title 'Role details'|trans %}
 
{% block admin_content -%}
    <h1>{{ 'Role details'|trans }}</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>{{ 'Name'|trans }}</th>
                <td>{{ entity.name|localize_translatable_string }}</td>
            </tr>
            <tr>
                <th>{{ 'Active'|trans }}</th>
                <td>
                    {%- if entity.active -%}
                        <i class="fa fa-check-square-o"></i>
                    {%- else -%}
                        <i class="fa fa-square-o"></i>
                    {%- endif -%}
                </td>
            </tr>
            <tr>
                <th>{{ 'Associated type'|trans }}</th>
                <td>{{ entity.type.name|localize_translatable_string }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_group_type_show', { 'id' : entity.type.id } ) }}" class="sc-button bt-cancel">
            {{ 'Back to the list'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('admin_group_role_edit', { 'id': entity.id }) }}" class="sc-button bt-edit">
            {{ 'Edit'|trans }}
        </a>
    </li>
</ul>
{% endblock %}
