{#
 * Copyright (C) 2016, Champs Libres Cooperative SCRLFS, <http://www.champs-libres.coop>
 * 
 * This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "ChillPersonBundle::layout.html.twig"  %}

{% set activeRouteKey = 'chill_group_membership_by_person' %}
{% set person = membership.person %}

{% block title 'Remove membership'|trans %}
    
{% block personcontent %}

    {{ include('ChillMainBundle:Util:confirmation_template.html.twig', 
        { 
            'title'             : 'Remove membership'|trans,
            'confirm_question'  : 'Are you sure you want to remove membership of "%name%" from the group "%group%"?'|trans({ '%name%' : person.firstname ~ ' ' ~ person.lastname, '%group%' : membership.cgroup.name }),
            'cancel_route'      : 'chill_group_membership_by_person', 
            'cancel_parameters' : { 'person_id' : membership.person.id }
        } ) }}
{% endblock personcontent %}
