{#
 * Copyright (C) 2014, Champs Libres Cooperative SCRLFS, <http://www.champs-libres.coop>
 * 
 * This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "ChillPersonBundle::layout.html.twig"  %}

{% set activeRouteKey = 'chill_group_membership_by_person' %}

{% block title 'Edit membership'|trans %}

{% block personcontent %}
    <h1>{{ 'Edit membership'|trans }}</h1>
    
        {{ form_start(form) }}
        
        {{ form_errors(form) }}
        
        <table class="record_properties" style="clear:both; margin-bottom: 1em;">
            <tbody>
                <tr>
                    <th>{{ 'Group'|trans }}</th>
                    <td>{{ membership.cgroup.name }}</td>
                </tr>
            </tbody>
        </table>
                
        {{ form_row(form.role) }}

        <ul class="record_actions">
            <li>
                {{ form_widget(form.submit, { 'attr' : { 'class' : 'sc-button bt-edit' } } ) }}
            </li>
        </ul>
    
    {{ form_end(form) }}
    
    
{% endblock personcontent %}

{% block js %}
    <script type="text/javascript">
        chill.categoryLinkParentChildSelect();
    </script>
{% endblock %}
