{#
 * Copyright (C) 2014, Champs Libres Cooperative SCRLFS, <http://www.champs-libres.coop>
 * 
 * This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "ChillPersonBundle::layout.html.twig"  %}

{% import "ChillPersonBundle:Person:macro.html.twig" as person_ %}

{% set activeRouteKey = 'chill_group_membership_by_person' %}

{% block title 'Membership list'|trans %}

{% block personcontent %}

<h1>{{ 'Membership list'|trans }}</h1>
    
<table class="records_list">
    <thead>
        <tr>
            <th class="chill-red">{{ 'Group'|trans }}</th>
            <th class="chill-green">{{ 'Role'|trans }}</th>
            <th class="chill-orange">{{ 'Other members'|trans }}</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {%- if memberships|length == 0 -%}
        <tr>
            <td colspan="3">
                <span class="chill-no-data-statement">{{ 'The person is not associated to any group'|trans }}</span>
                 <a href="{{ path('chill_group_membership_new', { 'person_id' : person.id } ) }}" >
                {{ 'Add a membership'|trans }}
                </a>
            </td>
        </tr>
        {%- else -%}
        {%- for m in memberships -%}
        <tr>
            <td>{{ m.cgroup.name }}</td>
            <td>{{ m.role.name|localize_translatable_string }}</td>
            <td>
                {%- if m.cgroup.members|length == 1 -%}
                    <span class="chill-no-data-statement">{{ 'The current person is alone in this group'|trans }}</span>
                {%- else -%}
                    {%- if m.cgroup.members.last.person.id != person.id -%}
                        {%- for member in m.cgroup.members -%}
                            {%- if member.person.id != person.id -%}
                                {{ person_.render(member.person, true) }}{% if not (loop.last) %}, {% endif %}
                            {%- endif -%}
                        {%- endfor -%}
                    {%- else -%}
                        {%- for member in m.cgroup.members -%}
                            {%- if member.person.id != person.id -%}
                                {% if not (loop.first) %}, {% endif %}{{ person_.render(member.person, true) }}
                            {%- endif -%}
                        {%- endfor -%}
                    {%- endif -%}
                {%- endif -%}
            </td>
            <td>
                <ul class="record_actions">
                    <li>
                        <a href="{{ path('chill_group_membership_edit', { 'membership_id' : m.id } ) }}" class="sc-button bt-edit">
                            {{ 'Edit'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('chill_group_membership_delete', { 'membership_id' : m.id } ) }}" class="sc-button bt-delete">
                            {{ 'Delete'|trans }}
                        </a>
                    </li>
                </ul>
            </td>
        </tr>
        {%- endfor -%}
        {%- endif -%}
    </tbody>
</table>
    
    <ul class="record_actions">
        <li>
            <a href="{{ path('chill_group_membership_new', { 'person_id' : person.id } ) }}" class="sc-button bt-create">
                {{ 'Add a membership'|trans }}
            </a>
        </li>

{% endblock personcontent %}
