{#
 * Copyright (C) 2014, Champs Libres Cooperative SCRLFS, <http://www.champs-libres.coop>
 * 
 * This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "ChillPersonBundle::layout.html.twig"  %}

{% set activeRouteKey = 'chill_group_membership_by_person' %}

{% block title 'New membership'|trans %}

{% block personcontent %}
    <h1>{{ 'New membership'|trans }}</h1>
    
    {% if form is defined %}
    <h2>{{ 'Add person to an existing group'|trans }}</h2>
    
        {{ form_start(form) }}
        
        {{ form_errors(form) }}

        {{ form_row(form.cgroup) }}
        {{ form_row(form.role) }}

        <ul class="record_actions">
            <li>
                {{ form_widget(form.submit, { 'attr' : { 'class' : 'sc-button bt-create' } } ) }}
            </li>
        </ul>
    
    {{ form_end(form) }}
    
    {% endif %}
    
    {% if form_with_group is defined %}
        <h2>{{ 'Add person to a new group'|trans }}</h2>

        {{ form_start(form_with_group) }}
        
        {{ form_errors(form_with_group) }}

        {{ form_row(form_with_group.cgroup.name) }}
        {{ form_row(form_with_group.cgroup.type) }}
        
        {{ form_row(form_with_group.role) }}
        
        <ul class="record_actions">
            <li>
                {{ form_widget(form_with_group.submit, { 'attr' : { 'class' : 'sc-button bt-create' } } ) }}
            </li>
        </ul>

        {{ form_end(form_with_group) }}
    
    {% endif %}
    
{% endblock personcontent %}

{% block js %}
    <script type="text/javascript">
        chill.categoryLinkParentChildSelect();
    </script>
{% endblock %}
