{%- import 'ChillGroupBundle:Group:macro.html.twig' as group_macro -%}
{%- import "ChillPersonBundle:Person:macro.html.twig" as person_macro -%}

<div class="person_group_membership">
    {%- if memberships|length == 0 -%}
    <span class="chill-no-data-statement">{{ 'The person is not associated to any group'|trans }}</span>
    {% else %}
        <span>{{ 'Memberships'|trans }}&nbsp;:</span>
        <ul>
        {% for membership in memberships %}
            <li>{{ group_macro._render(membership.cgroup) }} {{ 'as (_role)'|trans }} {{ membership.role.name|localize_translatable_string }}<br/></li>
                {% if short_memberships[membership.id]|length == 1 %}{{ 'with %member0%'|trans( { '%member0%' : person_macro.render(short_memberships[membership.id][0]) } )|raw }}
                {% elseif short_memberships[membership.id]|length == 2 %}{{ 'with %member0% and %member1%'|trans( { '%member0%' : person_macro.render(short_memberships[membership.id][0]), '%member1%' : person_macro.render(short_memberships[membership.id][1]) } )|raw }}
                {% elseif short_memberships[membership.id]|length > 2 %}{% transchoice short_memberships[membership.id]|length-2 with { '%member0%' : person_macro.render(short_memberships[membership.id][0]), '%member1%' : person_macro.render(short_memberships[membership.id][1]), '%count%' : short_memberships[membership.id]|length-2 } %}with %member0%, %member1% and %count% other{% endtranschoice %}
                {% endif %}
        {% endfor %}
    {% endif %}
</div>
                        
