{#
 * Copyright (C) 2016, Champs Libres Cooperative SCRLFS, <http://www.champs-libres.coop>
 *
 * This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends 'ChillGroupBundle:Admin:layout_group.html.twig' %}

{% block title 'Group types'|trans %}
 
{% block admin_content -%}
    <h1>{{ 'Group types'|trans }}</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>{{ 'Name'|trans }}</th>
                <th>{{ 'Active'|trans }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% if entities|length == 0 %}
            <tr>
                <td colspan="3" style="text-align: center;">
                    {{ "There aren't any group type yet"|trans }} 
                    <a href="{{ path('admin_group_type_new') }}">
                        {{ 'Create a new group type'|trans }}
                    </a>
                </td>
            </tr>
        {% else %}
        {% for entity in entities %}
            <tr>
                <td>
                    <a href="{{ path('admin_group_type_show', { 'id': entity.id }) }}">
                        {{ entity.name|localize_translatable_string }}
                    </a>
                </td>
                <td style="text-align:center;">
                {%- if entity.active -%}
                    <i class="fa fa-check-square-o"></i>
                {%- else -%}
                    <i class="fa fa-square-o"></i>
                {%- endif -%}
            </td>
                <td>
                <ul class="record_actions">
                    <li>
                        <a href="{{ path('admin_group_type_show', { 'id': entity.id }) }}" class="sc-button">{{ 'show'|trans|capitalize }}</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_group_type_edit', { 'id': entity.id }) }}" class="sc-button bt-edit">{{ 'edit'|trans|capitalize }}</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('admin_group_type_new') }}" class="sc-button bt-create">
                {{ 'Create a new group type'|trans }}
            </a>
        </li>
    </ul>
{% endblock admin_content %}
