{% extends 'ChillGroupBundle:Admin:layout_group.html.twig' %}

{#
 * Copyright (C) 2016, Champs Libres Cooperative SCRLFS, <http://www.champs-libres.coop>
 *
 * This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}


{% block title 'Create a new group type'|trans %}
 
{% block admin_content -%}
    <h1>{{ 'Create a new group type'|trans }}</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.active) }}
    
    
    <div style="clear:both">
    <ul class="record_actions">
        <li>
            <a href="{{ path('admin_group_type') }}" class="sc-button bt-cancel">
                {{ 'Back to the list'|trans }}
            </a>
        </li>
        <li>
            {{ form_row(form.submit, { 'attr': { 'class': 'sc-button bt-create' } } ) }}
        </li>
    </ul>
    </div>        
    {{ form_end(form) }}
{% endblock admin_content %}
