{% extends 'ChillGroupBundle:Admin:layout_group.html.twig' %}

{#
 * Copyright (C) 2016, Champs Libres Cooperative SCRLFS, <http://www.champs-libres.coop>
 *
 * This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}


{% block title 'Type details'|trans %}
 
{% block admin_content -%}
    <h1>{{ 'Type details'|trans }}</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>{{ 'Name'|trans }}</th>
                <td>{{ entity.name|localize_translatable_string }}</td>
            </tr>
            <tr>
                <th>{{ 'Active'|trans }}</th>
                <td>
                {%- if entity.active -%}
                    <i class="fa fa-check-square-o"></i>
                {%- else -%}
                    <i class="fa fa-square-o"></i>
                {%- endif -%}
                </td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('admin_group_type') }}" class="sc-button bt-cancel">
                {{ 'Back to the list'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('admin_group_type_edit', { 'id': entity.id }) }}" class="sc-button bt-edit">
                {{ 'Edit'|trans }}
            </a>
        </li>
    </ul>
                
    <h2>{{ 'Associated roles'|trans }}</h2>
    
    {% if entity.roles is empty %}
        <p class="empty_statement">{{ "No roles associated with this type"|trans }}. 
            <a href="{{ path('admin_group_role_new', {'type_id' : entity.id } ) }}">{{ "Add a new role"|trans }}</a></p>
    {% else %}
        <table class="records_list">
            <thead>
                <tr>
                    <th>{{ 'Name'|trans }}</th>
                    <th>{{ 'Active'|trans }}</th>
                    <th>{{ 'Action'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {%- for role in entity.roles -%}
                <tr>
                    <td>
                        <a href="{{ path('admin_group_role_show', {'id' : role.id } ) }}" >
                            {{ role.name|localize_translatable_string }}
                        </a>
                    </td>
                    <td style="text-align: center;">
                        {%- if role.active -%}
                            <i class="fa fa-check-square-o"></i>
                        {%- else -%}
                            <i class="fa fa-square-o"></i>
                        {%- endif -%}
                    </td>
                    <td>
                        <ul class="record_actions">
                            <li>
                                <a href="{{ path('admin_group_role_edit', { 'id' : role.id } ) }}" class="sc-button bt-edit">
                                    {{ 'Edit'|trans }}
                                </a>
                            </li>
                        </ul>
                    </td>
                {%- endfor -%}
            </tbody>
        </table>
    {% endif %}
    
    <ul class="record_actions">
        <li>
            <a href="{{ path('admin_group_role_new', {'type_id' : entity.id } ) }}" class="sc-button bt-create">
                {{ 'Add a new role'|trans }}
            </a>
        </li>
    </ul>
{% endblock admin_content %}
